<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>  
  </head>
  <body>
    <h1>Bem Vindo a API do Projetos Million</h1>
    <p>Informações que mostraremos dos Produtos API.</p>

    <a href="/produto.json" target="_blank">Clique aqui para chamar os produtos da API</a>
  </body>
</html>
